.about {
  color: #2c3e50;
  padding: 0 80px;
  margin-bottom: 40px;
}

.about {
  composes: blue from '../../base-styles/colors.css';
}

.title {
  composes: blue from '../../base-styles/colors.css';
  composes: headerFont from '../../base-styles/types.css';
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 63px;
  font-weight: 500;
}

.intro {
  font-size: 21px;
  font-weight: 500;
}
