.base {
  margin: 5px;
  white-space: normal;
  outline: none;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  transition: all 0.2s;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
}
