.hyphenate {
  overflow-wrap: break-word;
  hyphens: auto;
}

.standard {
  composes: base from "../BaseButton.module.css";
  composes: hyphenate;
  background-color: var(--blue);
  color: white;

  &:hover {
    background-color: var(--blue-light);
  }
}
