/*
* GREEN
*/
.green {
  color: var(--green);
}

.greenHover:hover {
  color: var(--green);
}

.greenBackground {
  background-color: var(--green);
}

.greenBackgroundHover:hover {
  background-color: var(--green);
}

.greenBackgroundFocus:focus {
  background-color: var(--green);
}

.greenLight {
  color: var(--green-light);
}

.greenLightHover:hover {
  color: var(--green-light);
}

.greenLightBackground {
  background-color: var(--green-light);
}

.greenLightBackgroundHover:hover {
  background-color: var(--green-light);
}

.greenLightBackgroundFocus:focus {
  background-color: var(--green-light);
}

/*
 * BLUE
 */
.blue {
  color: #2980b9;
}

.blueHover:hover {
  color: #2980b9;
}

.blueBackground {
  background-color: #2980b9;
}

.blueBackgroundHover:hover {
  background-color: #2980b9;
}

.blueBackgroundFocus:focus {
  background-color: #2980b9;
}

.blueLight {
  color: #3498db;
}

.blueLightHover:hover {
  color: #3498db;
}

.blueLightBackground {
  background-color: #3498db;
}

.blueLightBackgroundHover:hover {
  background-color: #3498db;
}

.blueLightBackgroundFocus:focus {
  background-color: #3498db;
}

/*
 * PURPLE
 */
.purple {
  color: var(--purple);
}

.purpleHover:hover {
  color: var(--purple);
}

.purpleBackground {
  background-color: var(--purple);
}

.purpleBackgroundHover:hover {
  background-color: var(--purple);
}

.purpleBackgroundFocus:focus {
  background-color: var(--purple);
}

.purpleLight {
  color: var(--purple-light);
}

.purpleLightHover:hover {
  color: var(--purple-light);
}

.purpleLightBackground {
  background-color: var(--purple-light);
}

.purpleLightBackgroundHover:hover {
  background-color: var(--purple-light);
}

.purpleLightBackgroundFocus:focus {
  background-color: var(--purple-light);
}

/*
 * YELLOW
 */
.yellow {
  color: var(--yellow);
}

.yellowHover:hover {
  color: var(--yellow);
}

.yellowBackground {
  background-color: var(--yellow);
}

.yellowBackgroundHover:hover {
  background-color: var(--yellow);
}

.yellowBackgroundFocus:focus {
  background-color: var(--yellow);
}

.yellowLight {
  color: var(--yellow-light);
}

.yellowLightHover:hover {
  color: var(--yellow-light);
}

.yellowLightBackground {
  background-color: var(--yellow-light);
}

.yellowLightBackgroundHover:hover {
  background-color: var(--yellow-light);
}

.yellowLightBackgroundFocus:focus {
  background-color: var(--yellow-light);
}

/*
 * ORANGE
*/
.orange {
  color: var(--orange);
}

.orangeHover:hover {
  color: var(--orange);
}

.orangeBackground {
  background-color: var(--orange);
}

.orangeBackgroundHover:hover {
  background-color: var(--orange);
}

.orangeBackgroundFocus:focus {
  background-color: var(--orange);
}

.orangeLight {
  color: var(--orange-light);
}

.orangeLightHover:hover {
  color: var(--orange-light);
}

.orangeLightBackground {
  background-color: var(--orange-light);
}

.orangeLightBackgroundHover:hover {
  background-color: var(--orange-light);
}

.orangeLightBackgroundFocus:focus {
  background-color: var(--orange-light);
}

/*
 * RED
 */
.red {
  color: var(--red);
}

.redHover:hover {
  color: var(--red);
}

.redBackground {
  background-color: var(--red);
}

.redBackgroundHover:hover {
  background-color: var(--red);
}

.redBackgroundFocus:focus {
  background-color: var(--red);
}

.redLight {
  color: var(--red-light);
}

.redLightHover:hover {
  color: var(--red-light);
}

.redLightBackground {
  background-color: var(--red-light);
}

.redLightBackgroundHover:hover {
  background-color: var(--red-light);
}

.redLightBackgroundFocus:focus {
  background-color: var(--red-light);
}

/*
 * GRAY
 */
.darkGray {
  color: var(--gray);
}

.darkGrayHover:hover {
  color: var(--gray);
}

.darkGrayFocus:focus {
  color: var(--gray);
}

.darkGrayBackground {
  color: var(--gray);
}

.darkGrayBackgroundHover:hover {
  color: var(--gray);
}

.darkGrayBackgroundFocus:focus {
  color: var(--gray);
}

.gray {
  color: var(--gray-light);
}

.grayHover:hover {
  color: var(--gray-light);
}

.grayBackground {
  background-color: var(--gray-light);
}

.grayBackgroundHover:hover {
  background-color: var(--gray-light);
}

.grayBackgroundFocus:focus {
  background-color: var(--gray-light);
}

/*
 * BLACK
 */
.black {
  color: black;
}

.blackHover:hover {
  color: black;
}

.blackBackground {
  background-color: black;
}

.blackBackgroundHover:hover {
  background-color: black;
}

.blackBackgroundFocus:focus {
  background-color: black;
}

/*
 * WHITE
 */
.white {
  color: white;
}

.whiteHover:hover {
  color: white;
}

.whiteBackground {
  background-color: white;
}

.whiteBackgroundHover:hover {
  background-color: white;
}

.whiteBackgroundFocus:focus {
  background-color: white;
}
