:root {
  --green: #27ae60;
  --green-light: #2ecc71;
  --blue: #2470a3;
  --blue-light: #2980b9;
  --purple: #8e44ad;
  --purple-light: #a15fb9;
  --yellow: #f39c12;
  --yellow-light: #f1c40f;
  --orange: #d35400;
  --orange-light: #e67e22;
  --red: #c0392b;
  --red-light: #e74c3c;
  --gray: #2c3e50;
  --gray-light: #ecf0f1;
  --brand-color: var(--blue);
  --text-color: var(--gray);
  --background-color: var(--gray-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #68afde;
    --text-color: var(--gray-light);
    --background-color: var(--gray);
  }
}
