body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-body);
  color: var(--text-color);
  padding-bottom: 48px;
}

img {
  display: block;
  max-width: 100%;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 370px;
  margin: 20px 0;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

math[display="block"] {
  margin: 16px 0;
}
