.headerFont {
  font-family: "Fredoka One", cursive;
  letter-spacing: 2px;
}

.bodyFont {
  font-family: "Open Sans", sans-serif;
}

.headerColor {
  composes: blue from "./colors.css";
}

.bodyFontColor {
  composes: darkGray from "./colors.css";
}

.title {
  composes: headerFont;
  composes: headerColor;
  line-height: 40px;
  letter-spacing: 2px;
}
