:root {
  --font-header: fredoka, "Arial Rounded MT Bold", sans-serif;
  --font-body: verdana, tahoma, arial, helvetica, sans-serif;
}

@font-face {
  font-family: fredoka;
  src: url("/Fredoka-SemiBold.ttf");
}
