{
  "extends": "stylelint-config-standard",
  "rules": {
    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }],
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": null,
    "string-quotes": null,
    "value-keyword-case": [
      "lower",
      { "ignoreProperties": ["composes", "font-family"] }
    ]
  }
}
