.btn {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    white-space: normal;
    outline: none;
    letter-spacing: 1px;
    border-radius: 0;
    border: none;
    color: rgb(236, 240, 241);
}

.btn-school {
    background: #27ae60;
    padding: 0;
    display: block;
}
.btn-school > .header {
    background: #2ecc71;
    width: 100%;
    height: 100%;
    padding: 2px 0;
}
.btn-school > .body {
    padding: 6px 6px;
}
.btn-school > h1 {
    font-weight: 700;
}

.btn-course {
    background: #8e44ad;
    padding: 0;
    display: block;
}
.btn-course > .header {
    background: #9b59b6;
    width: 100%;
    height: 100%;
    padding: 8px 0;
}
.btn-course > .body {
    width: 100%;
    height: 100%;
    padding: 6px 6px;
}
.btn-course > h1 {
    font-weight: 700;
}

.btn-document {
    background: #2980b9;
    padding: 20px;
    display: block;
}

.btn-document-special {
    background: #f39c12;
    padding: 20px;
    display: block;
}

.btn-question {
    background: #2980b9;
    padding: 16px 24px;
}
