body {
  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, p, a, b, {
  font-family: 'Roboto', sans-serif;
}
.container > h1 {
  color: #2980b9;
}

.container > h3 {
  color: #34495e;
}

.main-container {
  margin-top: 40px;
}

/*
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
*/

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#spinner {
    margin: auto;
}

.jumbotron {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  background: none;
  margin-bottom: 5px;
  color: rgb(236, 240, 241);
}

.div-default {
  font-family: 'Roboto', sans-serif;
  padding: 13px;
  background: white;
  border-radius: 0;
  border: none;
  box-shadow: 1px 2px 3px -1px #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container {
  margin-bottom: 40px;
}

.question {
  display: block;
  width: 100%;
}
