body {
  background-color: #f7f7f7;
}

.jumbotron {
  border-radius: 0 !important;
  background: rgb(255,179,71);
  margin-bottom: 15px;
}

.div-default {
  padding: 13px;
  background: white;
  border-radius: 0;
  border: none;
  box-shadow: 1px 2px 3px -1px #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px -1px #333;
  background: rgba(255, 255, 255, 1);
  border-radius: 0;
  border: none;
  height: 28px;
  z-index: 9999;
}

.navbar .collapse ul {
  background: white;
  box-shadow: 0 1px 2px -2px #333;
}

.navbar a {
  padding-left: 20px;
  color: #0054A6 !important;
}

.navbar a:hover {
  color: #2276C8 !important;
}

.container {
  margin-bottom: 40px;
}

#spinner {
    margin: auto;
}

.btn {
  margin: 5px;
  white-space: normal;
  outline: none;
  font-weight: lighter;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  box-shadow: 1px 2px 3px -1px #333;
}

.btn.outline {
  background: white;
  padding: 12px 22px;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active,
.open > .dropdown-toggle.btn-default {
  color: #0054A6;
}

.btn-default.outline:active, .btn-default.outline.active {
  box-shadow: none;
}

.btn-success.outline {
  color: #53A600;
}

.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active,
.open > .dropdown-toggle.btn-success, .btn-success.outline:active, .btn-success.outline.active {
  color: #77CC33;
}

.btn-danger {
  color: #cc0000;
}

.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active,
.open > .dropdown-toggle.btn-danger, .btn-danger.outline:active, .btn-danger.outline.active  {
  color: #ff3333;
}

.question {
  display: block;
  width: 100%;
}
