.header {
  composes: headerFont from '../../base-styles/types.css';
  composes: bodyFontColor from '../../base-styles/types.css';
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0 0;
}

.row {
  display: flex;
  justify-content: space-around;
}

.row > div {
  flex: 1;
}
