.divChart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.divChartBar {
  display: flex;
  align-items: flex-end;
  flex: 1;
  background-color: #e74c3c;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.divChartBar:hover .divChartLabel {
  opacity: 1;
}

.divChartLabel {
  padding: 1rem;
  opacity: 0;
  transition: opacity 300ms;
}

@media (max-width: 500px) {
  .divChartBar {
    margin-right: 5px;
  }
}
