.base {
  white-space: normal;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--brand-color);
  }
}

@media (max-width: 767px) {
  .base {
    font-size: 14px;
    padding: 12px;
  }
}
