.wrapper {
  composes: headerFont from '../../base-styles/types.css';
  margin-bottom: 20px;
  background: none;
  border-radius: 0;
  border: none;
  height: 28px;
  z-index: 9999;
  padding: 0 10px;
}

.links {
  margin-top: 6px;
  margin-bottom: 0;
}

.logo {
  composes: headerFont from '../../base-styles/types.css';
  letter-spacing: 2px;
}

/*
.logo:hover,
.logo:focus {
  composes: blueLight from '../../base-styles/colors.css';
  text-decoration: underline;
}
*/

.link {
  composes: blue from '../../base-styles/colors.css';
  letter-spacing: 1px;
}

/*
.link:hover,
.link:focus {
  letter-spacing: 1px;
  color: #3498db;
  text-decoration: underline;
}
*/

.navbar-nav > li,
.navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right !important;
}
