.navbar {
  font-family: 'Fredoka One', cursive;
  margin-bottom: 20px;
  background: none;
  border-radius: 0;
  border: none;
  height: 28px;
  z-index: 9999;
  padding: 0 10px;
}

.navbar-default .navbar-brand {
  color: #2980b9;
  letter-spacing: 2px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3498db;
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a {
  letter-spacing: 1px;
  color: #2980b9;
}

.navbar-nav {
  margin-top: 6px;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  letter-spacing: 1px;
  color: #3498db;
  text-decoration: underline;
}

.navbar-nav > li,
.navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right !important;
}
