:global .navbar.navbar-default {
  margin-bottom: 20px;
  background: none;
  border-radius: 0;
  border: none;
  height: 28px;
  z-index: 9999;
  padding: 0 10px;
}

:global(.navbar-default .navbar-nav>li>a) {
  font-family: 'Fredoka One', cursive;
  color: #2980b9;
  letter-spacing: 1px;
}

:global(.navbar-default .navbar-brand).logo {
  font-family: 'Fredoka One', cursive;
  color: #2980b9;
  letter-spacing: 2px;
}

:global(.navbar-default .navbar-brand:hover:hover),
:global(.navbar-default .navbar-brand:hover:focus) {
  color: #3498db;
  text-decoration: underline;
}

:global(.navbar-default .navbar-nav>li>a:hover),
:global(.navbar-default .navbar-nav>li>a:focus) {
  letter-spacing: 1px;
  color: #3498db;
  text-decoration: underline;
}

:global .navbar-nav > li,
:global .navbar-nav {
  float: left !important;
}

:global .navbar-right {
  float: right !important;
}
