:global body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

:global h1 {
  line-height: 40px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  color: #2c3e50;
}

:global h3.question {
  line-height: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

:global a {
  color: #2980b9;
}

:global a:hover {
  color: #3498db;
}

:global .top-buffer {
  margin-top: 20px;
}

:global canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 370px;
  margin: 20px 0;
}

:global .container {
  margin-bottom: 40px;
}
