:global body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
}

:global canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 370px;
  margin: 20px 0;
}

:global a {
  color: #2980b9;
  text-decoration: none;
}

:global a:hover {
  color: #3498db;
  text-decoration: underline;
}
