.question {
  composes: bodyFontColor from "../../../base-styles/types.css";
  margin: 0 20px;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .question {
    font-size: 16px;
  }
}
