.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.kitem {
  padding: 0;
  white-space: normal;
  outline: none;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
}

a.kitem:hover {
  text-decoration: none;
}

.kitem p {
  margin: 5px;
}

.clickable {
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.clickable:hover,
.clickable:focus {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.minHeight {
  min-height: 135px;
}

.head {
  font-family: var(--font-header);
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.head div {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.body {
  composes: hyphenate;
  padding: 6px 20px;
  font-size: 14px;
}

/*
* GREEN
*/
.green {
  background-color: var(--green);
  display: block;
  color: black;
}

.greenhead {
  composes: head;
  background-color: var(--green-light);
}

/*
* BLUE
*/
.blue {
  background-color: var(--blue);
  display: block;
  color: black;
}

.bluehead {
  composes: head;
  background-color: var(--blue-light);
}

/*
* PURPLE
*/
.purple {
  background-color: var(--purple);
  display: block;
  color: white;
}

.purplehead {
  composes: head;
  background-color: var(--purple-light);
}

/*
* YELLOW
*/
.yellow {
  background-color: var(--yellow);
  display: block;
  color: black;
}

.yellowhead {
  composes: head;
  background-color: var(--yellow-light);
}

/*
* ORANGE
*/
.orange {
  background-color: var(--orange);
  display: block;
  color: black;
}

.orangehead {
  composes: head;
  background-color: var(--orange-light);
}

/*
* RED
*/
.red {
  background-color: var(--red);
  display: block;
  color: white;
}

.redhead {
  composes: head;
  background-color: var(--red-light);
}

@media (max-width: 767px) {
  .kitem {
    margin: 5px 0;
  }

  .head div {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .body {
    padding: 3px 5px;
    font-size: 12px;
  }
}
