.spinner {
  display: inline-block;
  position: fixed;
  inset: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation-name: loading-spinner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes loading-spinner {
  0% {
    background-color: #c0392b;
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #3498db;
  }

  75% {
    background-color: #f1c40f;
  }

  100% {
    background-color: #c0392b;
  }
}

@keyframes loading-spinner {
  0% {
    background-color: #c0392b;
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #3498db;
  }

  75% {
    background-color: #f1c40f;
  }

  100% {
    background-color: #c0392b;
  }
}

@keyframes loading-spinner {
  0% {
    background-color: #c0392b;
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #3498db;
  }

  75% {
    background-color: #f1c40f;
  }

  100% {
    background-color: #c0392b;
  }
}

@keyframes loading-spinner {
  0% {
    background-color: #c0392b;
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #3498db;
  }

  75% {
    background-color: #f1c40f;
  }

  100% {
    background-color: #c0392b;
  }
}
