.result {
  composes: base from '../BaseButton.css';
  composes: bodyFont from '../../../base-styles/types.css';
  composes: white from '../../../base-styles/colors.css';
  composes: greenLightBackground from '../../../base-styles/colors.css';
  composes: darkGrayHover from '../../../base-styles/colors.css';
  padding: 8px;
}

.result h4 {
  margin: 10px;
}
