.kitem {
  composes: bodyFont from '../../base-styles/types.css';
  margin: 5px 5px 30px;
  padding: 0;
  white-space: normal;
  outline: none;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  color: rgb(236, 240, 241);
  text-align: center;
}

.kitem p {
  margin: 5px;
}

.clickable {
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.clickable:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.minHeight {
  min-height: 135px;
}

.head {
  composes: headerFont from '../../base-styles/types.css';
  width: 100%;
  height: 100%;
  padding: 8px 0;
}

.head h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.body {
  padding: 6px 20px;
  font-size: 14px;
}

/*
* GREEN
*/
.green {
  composes: greenBackground from '../../base-styles/colors.css';
  display: block;
}

.greenhead {
  composes: head;
  composes: greenLightBackground from '../../base-styles/colors.css';
}

/*
* BLUE
*/
.blue {
  composes: blueBackground from '../../base-styles/colors.css';
  display: block;
}

.bluehead {
  composes: head;
  composes: blueLightBackground from '../../base-styles/colors.css';
}

/*
* PURPLE
*/
.purple {
  composes: purpleBackground from '../../base-styles/colors.css';
  display: block;
}

.purplehead {
  composes: head;
  composes: purpleLightBackground from '../../base-styles/colors.css';
}

/*
* YELLOW
*/
.yellow {
  composes: yellowBackground from '../../base-styles/colors.css';
  display: block;
}

.yellowhead {
  composes: head;
  composes: yellowLightBackground from '../../base-styles/colors.css';
}

/*
* ORANGE
*/
.orange {
  composes: orangeBackground from '../../base-styles/colors.css';
  display: block;
}

.orangehead {
  composes: head;
  composes: orangeLightBackground from '../../base-styles/colors.css';
}

/*
* RED
*/
.red {
  composes: redBackground from '../../base-styles/colors.css';
  display: block;
}

.redhead {
  composes: head;
  composes: redLightBackground from '../../base-styles/colors.css';
}

@media (max-width: 767px) {
  .kitem {
    margin: 5px;
  }

  .head h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .body {
    padding: 3px 5px;
    font-size: 12px;
  }
}
