:global(.progress) {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-color: white;
}

:global(.progress-bar) {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.correct {
  composes: greenLightBackground from '../../base-styles/colors.css';
}

.wrong {
  composes: redLightBackground from '../../base-styles/colors.css';
}

.progressText {
  composes: blue from '../../base-styles/colors.css';
  text-align: right;
  font-weight: bold;
}
