.progress {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-color: #fff;
}
.progress-bar {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.progress-bar-correct {
  background-color: #2ecc71;
}
.progress-bar-wrong {
  background-color: #e74c3c;
}
.progress-text {
  color: #2980b9;
  text-align: right;
  font-weight: bold;
}
