<div class="row">
    <div class="col-xs-12">
        <h1>About</h1>
        <p>You know when you are preparing for an exam by doing exams from previous years? Noticed how boring it is do do the
            multiple choice questions on paper or PDF, having to check the answers on another paper/PDF afterwards?</p>

        <p>Kramster helps making this a little more fun. Select your school and course, and cram for your exam by doing the
        multiple choice questions with instant feedback!</p>

        <p>Kramster is made by <a href="http://byrkje.land">Mats Byrkjeland</a>, computer science student at NTNU.
        Kramster is made using the <a href="http://en.wikipedia.org/wiki/MEAN_%28software_bundle%29">MEAN stack.</a></p>

        <p>You can <a href="/contribute">contribute</a> to the database.</p>

    </div>
</div>
