<div class="row">
    <div class="col-xs-12">
        <h1>Contribute</h1>

        <p>In the future this page will contain a sexy form, making you able to add your own exams and questions. But
            this is coming later. Therefore, if you want to contribute to the
            database, you can do this by sending your question documents (exams) per email to matsbyr<span ng-hide="true">SMDLFJMIOW4KLJRM1L31M423OIFDSJ90FSDFKL23JEØ|K2J34K2L3MD9C0V9DOSFJ</span>@gmail.com, and I will add it for you.
            What a great way to help your fellow students, don't you think?</p>

        <p>If you're a hero, you can send me a .txt on the following format:</p>

        <p>The <em>CorrectAnswerIndices</em> comprise the array of of indexes of the correct answers in the following
            list of <em>options</em>. These are split by spaces.</p>

        <p><pre><code>
        School
        Course
        Name
        Question1 §§ CorrectAnswerIndex1 CorrectAnswerIndex2 ... CorrectAnswerIndexN §§ Option1 §§ Option1 §§ ... §§ OptionN<br/>
        Question2 §§ CorrectAnswerIndex1 CorrectAnswerIndex2 ... CorrectAnswerIndexN §§ Option1 §§ Option1 §§ ... §§ OptionN<br/>
        ...
        QuestionN §§ CorrectAnswerIndex1 CorrectAnswerIndex2 ... CorrectAnswerIndexN §§ Option1 §§ Option1 §§ ... §§ OptionN<br/>
    </code></pre>
        </p>

        <p>Example:</p>
        <pre><code>
            University of Foo, San Bar
            FOO1337 Foobarian Algebra
            Exam Spring 2014
            What is foo? §§ 0 §§ Bar §§ Bob §§ Alice §§ Dijkstra
            What is bar? §§ 0 1 §§ Pub §§ Foo §§ Chocolate
        </code></pre>
    </div>
</div>
