<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="course in coursesCtrl.courses">
        <div class="div-course btn btn-course" type="button" role="button"
            ng-click="go('/'+helpers.underscorify(coursesCtrl.school)+'/'+helpers.underscorify(course))">

            <!--
            <course-item course="course"></course-item>
            -->

            <div class="header">
                <h3>{{coursesCtrl.header(course)}}</h3>
            </div>
            <div class="body">
                <p>{{coursesCtrl.name(course)}}</p>
            </div>
        </div>

    </div>

</div>
