<div class="row">
    <div class="col-md-6">
        <a href="/{{helpers.underscorify(route.school)}}/{{helpers.underscorify(route.course)}}/all" class="btn btn-lg btn-success center-block outline" role="button">All</a>
    </div>
    <div class="col-md-6">
        <a href="/{{helpers.underscorify(route.school)}}/{{helpers.underscorify(route.course)}}/random30" class="btn btn-lg btn-success center-block outline" role="button">30 Random</a>
    </div>
</div>
<div class="row" ng-repeat="document in documentsCtrl.documents">
    <div class="col-md-12">
        <a href="/{{helpers.underscorify(route.school)}}/{{helpers.underscorify(route.course)}}/{{helpers.underscorify(document.name)}}" class="btn btn-lg btn-default center-block outline" role="button">{{document.name}}</a>
    </div>
</div>
