<div class="row" ng-hide="loading">
    <div class="col-xs-12">
        <progress>
            <bar ng-repeat="i in questionsCtrl.history track by $index" value="questionsCtrl.progress.value()" type="{{questionsCtrl.progress.type($index)}}">
                {{$index + 1}}
            </bar>
        </progress>
    </div>
</div>

<div class="row" ng-if="questionsCtrl.questions">
    <div class="col-xs-12">
        <div class="div-default" ng-if="currentQuestion()">
            <h3 ng-bind-html="currentQuestion().question"></h3>
        </div>
    </div>
</div>

<div class="row" ng-if="questionsCtrl.questions">
    <div class="col-xs-12">
        <div class="btn-group">
            <a role="button" type="button"
                class="btn {{questionsCtrl.buttonClass(option)}} button center-block outline"
                ng-repeat="option in currentQuestion().options"
                ng-click="questionsCtrl.answer(option)"
                ng-bind-html="option">
            </a>
        </div>
    </div>
</div>

<!-- Show result when there are no more questions left -->
<result ng-if="!currentQuestion()"></result>
