<div class="row" ng-hide="loading">
    <div class="col-xs-12">
        <progress>
            <bar ng-repeat="i in questionsCtrl.history track by $index" value="questionsCtrl.progress.value()" type="{{questionsCtrl.progress.type($index)}}">
                {{$index + 1}}
            </bar>
        </progress>
    </div>
</div>

<div class="row" ng-if="questionsCtrl.questions">
    <div class="col-xs-12">
        <div class="div-default" ng-if="currentQuestion()">
            <h3 ng-bind-html="currentQuestion().question"></h3>
        </div>
    </div>
</div>

<div class="row" ng-if="questionsCtrl.questions" >
    <div class="col-xs-12">
        <div class="btn-group">
            <a role="button" type="button"
               class="btn {{questionsCtrl.buttonClass(option)}} button center-block outline"
               ng-repeat="option in currentQuestion().options"
               ng-click="questionsCtrl.answer(option)">{{option}}</a>
        </div>
    </div>
</div>

<div class="row" ng-if="!currentQuestion()">
    <div class="col-xs-12">
        <div class="div-default">
            <h1>Grade: {{questionsCtrl.stats.grade()}}</h1>
            <h3>Score: {{questionsCtrl.stats.status()}}</h3>
        </div>
        <a href="/{{route.school}}/{{route.course}}" type="button" role="button" class="btn btn-success outline">Try another</a>
    </div>
</div>