<div class="jumbotron">
    <div id="main-chart" class="container" ng-controller="BarCtrl">
        <h1>Kramster!</h1>
        <canvas
                id="bar"
                class="chart chart-bar"
                chart-data="data"
                chart-labels="labels"
                chart-options="options"
                chart-colours="colors">
        </canvas>
        <h3>Can you improve the statistics?</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-school col-xs-12 col-md-3" ng-repeat="school in schoolsCtrl.schools">
            <a href="/{{helpers.underscorify(school)}}" type="button" class="btn btn-school" role="button">{{school}}</a>
        </div>
    </div>
</div>
