.navbar {
  composes: blue from "../../base-styles/colors.module.css";
  font-family: var(--font-header);
  margin-bottom: 20px;
  background: none;
  border-radius: 0;
  border: none;
  height: 40px;
  z-index: 9999;
  padding: 15px;
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.logo {
  composes: blue from "../../base-styles/colors.module.css";
  composes: blueLightHover from "../../base-styles/colors.module.css";
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 18px;
  height: 50px;
}

.logo:hover {
  text-decoration: underline;
}

.link {
  composes: blue from "../../base-styles/colors.module.css";
  composes: blueLightHover from "../../base-styles/colors.module.css";
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.pullLeft {
  display: inline-block;
  float: left;
}

.pullRight {
  display: inline-block;
  float: right;
}

@media (max-width: 767px) {
  .navbar {
    padding: 8px;
    margin-bottom: 0;
    height: 20px;
  }
}
