.navbar {
  font-family: var(--font-header);
  margin-bottom: 20px;
  background: none;
  border-radius: 0;
  border: none;
  height: 40px;
  letter-spacing: 1px;
}

.navbar a {
  color: var(--brand-color);
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.logo {
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 18px;
  height: 50px;
}

.logo:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.pullLeft {
  display: block;
  float: left;
}

.pullRight {
  display: block;
  float: right;
}

@media (max-width: 767px) {
  .navbar {
    padding: 8px 0;
    margin-bottom: 0;
    height: 20px;
  }
}
