.result {
  composes: base from "../BaseButton.module.css";
  background-color: var(--green);
  padding: 8px;
  color: black;

  &:hover {
    background-color: var(--green-light);
  }
}

.result {
  padding: 10px;
  font-family: var(--font-header);
}
