.wrapper {
  margin: 3px;
}

.header {
  composes: blue from "../../../base-styles/colors.module.css";
  font-family: var(--font-header);
  font-weight: 500;
  margin-bottom: 2px;
}

.text {
  font-weight: 500;
  margin-top: 2px;
}
