.jumbotron {
  padding: 0 60px;
  background: none;
  margin-bottom: 40px;
}

.title {
  composes: headerFont from '../../base-styles/types.css';
  composes: blue from '../../base-styles/colors.css';
  font-size: 63px;
  font-weight: 500;
  letter-spacing: 2px;
}

.subtitle {
  composes: darkGray from '../../base-styles/colors.css';
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .jumbotron {
    padding: 0 20px;
    background: none;
    margin-bottom: 15px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    padding: 0;
  }
}
