:global .jumbotron {
  padding: 0;
  background: none;
  margin-bottom: 5px;
}

:global(.container > h1).title {
  color: #2980b9;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: 'Fredoka One', cursive;
}

:global(.container > h3).subtitle {
  color: #2c3e50;
}
