.jumbotron {
  composes: bodyFont from '../../base-styles/types.css';
  composes: gray from '../../base-styles/colors.css';
  padding: 0;
  background: none;
  margin-bottom: 5px;
}

.title {
  composes: headerFont from '../../base-styles/types.css';
  composes: blue from '../../base-styles/colors.css';
}
