.button {
  composes: bodyFont from '../../base-styles/types.css';
  composes: gray from '../../base-styles/colors.css';
  composes: blueBackground from '../../base-styles/colors.css';
  margin: 5px;
  white-space: normal;
  outline: none;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  transition: all 0.2s;
  padding: 20px;
  display: block;
}

.button:hover {
  background: blueLight from '../../base-styles/colors.css';
}

.buttonSpecial {
  composes: button;
  composes: orangeLight from '../../base-styles/colors.css';
  text-transform: uppercase;
}

/*
.buttonSpecial:hover {
  composes: buttonSpecial;
  composes: yellowBackground from '../../base-styles/colors.css';
}
*/

.question {
  background-color: white;
  color: #2c3e50;
  padding: 20px;
  display: block;
}

.question:hover {
  background-color: #2980b9;
  color: white;
}

.questionMobile {
  background-color: white;
  color: #2c3e50;
  padding: 20px;
  display: block;
}

.questionMobile:hover {
  background-color: white;
  color: #2c3e50;
}

.correctAnswer {
  background: #2ecc71;
  padding: 20px;
  display: block;
}

.wrongAnswer {
  background: #e74c3c;
  padding: 20px;
  display: block;
}

.result {
  background: #2ecc71;
  padding: 0;
  display: block;
}

.resultHeader {
  width: 100%;
  padding: 8px;
}
