.base {
  margin: 5px;
  white-space: normal;
  outline: none;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  transition: all 0.2s;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
}

.standard {
  composes: base;
  composes: bodyFont from '../../base-styles/types.css';
  composes: white from '../../base-styles/colors.css';
  composes: bodyFontColor from '../../base-styles/types.css';
  composes: blueBackground from '../../base-styles/colors.css';
  composes: blueLightBackgroundHover from '../../base-styles/colors.css';
  composes: darkGrayHover from '../../base-styles/colors.css';
}

.special {
  composes: base;
  composes: headerFont from '../../base-styles/types.css';
  composes: white from '../../base-styles/colors.css';
  composes: orangeLightBackground from '../../base-styles/colors.css';
  composes: yellowBackgroundHover from '../../base-styles/colors.css';
  composes: darkGrayHover from '../../base-styles/colors.css';
  text-transform: uppercase;
}

.result {
  composes: base;
  composes: bodyFont from '../../base-styles/types.css';
  composes: white from '../../base-styles/colors.css';
  composes: greenLightBackground from '../../base-styles/colors.css';
  composes: darkGrayHover from '../../base-styles/colors.css';
  padding: 8px;
}

.questionBase {
  composes: base;
  composes: bodyFont from '../../base-styles/types.css';
  padding: 20px;
  display: inline-block;
  margin: 3px;
}

.question {
  composes: questionBase;
  composes: darkGray from '../../base-styles/colors.css';
  composes: whiteHover from '../../base-styles/colors.css';
  composes: whiteBackground from '../../base-styles/colors.css';
}

.question:hover {
  background-color: #2980b9;
  color: white;
}

.questionMobile {
  composes: question;
}

.questionMobile:hover {
  background-color: white;
  color: #2c3e50;
}

.correctAnswer {
  composes: questionBase;
  composes: greenLightBackground from '../../base-styles/colors.css';
  composes: greenLightBackgroundHover from '../../base-styles/colors.css';
  composes: white from '../../base-styles/colors.css';
  composes: darkGrayHover from '../../base-styles/colors.css';
}

.wrongAnswer {
  composes: questionBase;
  composes: redLightBackground from '../../base-styles/colors.css';
  composes: redLightBackgroundHover from '../../base-styles/colors.css';
  composes: white from '../../base-styles/colors.css';
  composes: darkGrayHover from '../../base-styles/colors.css';
}
