.questionRow {
  margin: 40px 0 20px;
}

.alternatives {
  margin: 20px 15px;
  display: flex;
  flex-wrap: wrap;
}

.continueTip {
  composes: blue from "../../base-styles/colors.css";
  display: block;
  margin: 3px;
}

@media (max-width: 767px) {
  .alternatives {
    margin: 10px;
  }
}
