.wrapper {
  margin: 0;
}

.questionRow {
  margin: 40px 0;
}

.alternatives,
.explanationRow {
  margin: 20px 0;
}

.alternatives {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > button {
    width: fit-content;
  }
}

.continueTip {
  color: var(--blue);
  display: block;
  margin: 3px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1rem;
  }
}
