.schoolsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, auto);
  margin: 1rem;
}

@media (width <= 1200px) {
  .schoolsGrid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (width <= 800px) {
  .schoolsGrid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (width <= 800px) {
  .schoolsGrid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (width <= 500px) {
  .schoolsGrid {
    gap: 0;
    grid-template-columns: repeat(1, auto);
  }
}
