.schoolsGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, auto);
  margin: 1rem;
}

@media (max-width: 1200px) {
  .schoolsGrid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 800px) {
  .schoolsGrid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 800px) {
  .schoolsGrid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 500px) {
  .schoolsGrid {
    grid-gap: 0;
    grid-template-columns: repeat(1, auto);
  }
}
