.progress {
  height: 20px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-color: white;
}

.progressBar {
  float: left;
  height: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.correct {
  composes: progressBar;
  composes: greenLightBackground from "../../base-styles/colors.module.css";
  -webkit-animation: fadein 400ms ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 400ms ease-out; /* Firefox < 16 */
  -ms-animation: fadein 400ms ease-out; /* Internet Explorer */
  -o-animation: fadein 400ms ease-out; /* Opera < 12.1 */
  animation: fadein 400ms ease-out;
}

.wrong {
  composes: progressBar;
  composes: redLightBackground from "../../base-styles/colors.module.css";
  -webkit-animation: fadein 400ms ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 400ms ease-out; /* Firefox < 16 */
  -ms-animation: fadein 400ms ease-out; /* Internet Explorer */
  -o-animation: fadein 400ms ease-out; /* Opera < 12.1 */
  animation: fadein 400ms ease-out;
}

.progressText {
  color: var(--brand-color);
  text-align: right;
  font-weight: bold;
  margin-bottom: 2px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 0;
    padding: 0 8px;
  }

  .progressText {
    margin: 5px 0 1px;
    font-size: 12px;
  }
}
