.category {
  composes: base from "../BaseButton.module.css";
  color: black;
  background-color: var(--yellow);
  font-family: var(--font-header);
  text-transform: uppercase;

  &:hover {
    filter: brightness(110%);
  }
}
